.jumbotron{
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #c8d6e5;
    margin-bottom: 0px;
   /* margin-top: 50px;*/
    min-height: 100%;
}
.mylead{
   background-color:#34495e;
}
.myfontcolor{
    color: #868e96;
}
#product{
    background-color: #c8d6e5;
    padding-bottom: 50px;
}
.mysection{
    padding-top: 40px;
}  
.myimage{
   margin-left:45%;
}
.mylist{
    list-style-type: none;
}
.mytext
{
    text-align: center;
}
#service{
    margin-top: 50px
}
.mycard{
    padding: 15px;
}
#price{
    background-color: #ecf0f1;
    padding-top: 100px;
}
.mypricrcard{
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
}
#business{
   background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10px;
    
}
.my-text{
    font-size: 12px;
    text-align: justify;
    
}
.mymargin{
    margin-top: 60px;
}
.myboot{
    padding-bottom: 50px;
    
    
}
.iconcolor
{
    color: green;
}
.cardshad{
    box-shadow: 2px 2px 2px 2px;
}
.linehead{
    color: antiquewhite;
    background-color: rgb(118, 118, 144);
}
#contact{
    padding-top: 40px;
    background-color: rgb(231, 218, 218)
}
#footer{
    background-color: #34495e;
    color: #ecf0f1;
    padding-top: 100px;  
    padding-bottom: 20px; 
}
.fixul{
padding-left: 0px;
}
#myteam{
    padding-bottom: 100px;
    padding-top:30px;
margin-right: 0px
}
a:hover{
    color: rgb(26, 97, 26);
}
/*#myinfo{
    background-color: #bdc3c7;
    padding-bottom: 10px;
    padding-top: 10px;
}*/
.mysize{
    
    width: 70px;
    height: 700px;
}
#btnScorll{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    padding: 16px;
    cursor: pointer;
}